* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
  display: flex;
}

a {
  color: #fff;
}

.marker-svg {
  transform: translate(-50%, -100%);
}

.popup {
  position: relative;
  width: 300px;
  z-index: 30;
}

.form-control {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font: inherit;
  border: 0;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

button {
  display: inline-block;
  color: #fff;
  background-color: #333;
  border: none;
  padding: 0.4rem 1.6rem;
  font: inherit;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

@media (max-width: 375px) {
  .popup {
    max-width: 300px;
  }
}
