* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
  display: flex;
}

a {
  color: #fff;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.7rem;
  font: inherit;
  border: 0;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

button {
  display: inline-block;
  color: #fff;
  background-color: #333;
  border: none;
  padding: 0.5rem 1.6rem;
  border-radius: 4px;
  font: inherit;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.marker-svg {
  transform: translate(-50%, -100%);
}

.popup {
  position: relative;
  width: 300px;
  z-index: 30;
}

.form-control {
  margin-bottom: 1rem;
}

mapboxgl-canvas {
  left: 0;
}

.mapboxgl-popup-close-button {
  color: #000;
  padding: 0.3rem !important;
  margin: 0;
  font-size: 1.5rem !important;
}

@media (max-width: 375px) {
  .popup {
    max-width: 300px;
  }
  .container {
    padding: 0.7rem;
  }
}
